:root{   font-family:-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; }

.doc-content{
    border: 3px blue solid;
    background-color: #e77979;
    display:grid;
    grid-template: min-content / min-content;
}

.card{
    background-color: #63ff85;
    padding: 10px;
    border: 2px blue solid
}