:root{   font-family:-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; }

body{
    background-color: rgb(98, 95, 95);
}

.content-wrapper{
    display: flex;
}

li{
    list-style: none;
}
li:hover, .card:hover{
    background-color: red;
    box-shadow: 2px 2px 
}


nav ul{
    padding: 20px;
    border:white 3px solid;
        
}
nav ul li{
    border: green 1px solid;
    padding: 5px 5px 5px 20px;
    margin-bottom: 5px;
    display:flex;   
    justify-content: space-between;
}

nav ul li div{
    flex: 0;
}

.doc-content{
    border: 3px blue solid;
    background-color: #e77979;
    display:grid;
    grid-template: min-content / min-content;
    position:relative
}

.card{
    /* background-color: #63ff85; */
    background-color:hsl(156, 100%, 52%) ;
    padding: 30px;
    border: 2px blue solid;
    position:relative;
    text-wrap: nowrap;
}

.card .cardDepthLevel{
    margin-bottom: 20px;
}

/* .card:nth-child(odd){
    background-color: #fff;
} */

dialog{
    /* display:grid; */
    width: 80vw;
    height: 70vh;
}
dialog .properties{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 50px repeat(4,1fr);
}
dialog .properties *{
    border: 5px dotted white;
}

dialog .properties [for=priority]{
    grid-column: -2/-1;
    grid-row: 1
}
dialog .properties .which-project{
    grid-column: -2/-1;
    grid-row:2
}
dialog .properties [for=name]{
    grid-column: -1/1;
    grid-row:1
}
dialog .properties [for=description]{
    grid-column: 1/5;
    grid-row: 2/4
}
dialog .properties #complete{
    grid-column: 2/3;
    grid-row:1/2
}
dialog .properties .checklist{
    grid-column: 1/6;
    grid-row: 4/5
}

.card{
    /* display:none;
    overflow:hidden;
    width:clamp(100px, 1fr, 80vw) */
}


