:root{   font-family:-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; }

.content-wrapper{
    display: flex;
}


li{
    list-style: none;
}
nav ul{
    padding: 20px;
    border:white 3px solid;
        
}
nav ul li{
    border: green 1px solid;
    padding: 5px;
    padding: 0 20px 0 2 0px;
    margin-bottom: 5px;
}
/* 
form section{
    display:grid
} */

.doc-content{
    border: 3px blue solid;
    background-color: #575757;
    display:grid;
    grid-template: min-content / min-content;
    position:relative;
    padding: 20px
}

.card{
    /* background-color: #63ff85; */
    background-color:hsl(156, 100%, 52%) ;
    padding: 10px;
    border: 2px blue solid;
    position:relative;
    text-wrap: nowrap;
}

.card .cardDepthLevel{
    margin-bottom: 20px;
}

/* .card:nth-child(odd){
    background-color: #fff;
} */

dialog{
    /* display:grid; */
    width: 80vw;
    height: 70vh;
}
dialog form.properties{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px
}

dialog .close-modal{
    flex: 0 0 0;
}

dialog textarea{
    resize:none
}

dialog form.properties section {
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 50px repeat(4,1fr);
    background-color: #8d1313;
}
dialog form.properties  section *{
    border: 5px dotted rgb(87, 247, 72);
}

dialog .properties [for=priority]{
    grid-column: -2/-1;
    grid-row: 1
}
dialog .properties .which{
    grid-column: -2/-1;
    grid-row:2
}
dialog .properties [for=name]{
    grid-column: -1/1;
    grid-row:1
}
dialog .properties [for=description]{
    grid-column: 1/5;
    grid-row: 2/4
}
dialog .properties #complete{
    grid-column: 2/3;
    grid-row:1/2
}
dialog .properties .checklist{
    grid-column: 1/6;
    grid-row: 4/5
}



